
.headerImageContainer {
    width: 100%; 
    height: 600px; 
    overflow: hidden; 
    position: relative;
}

.imageWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Döljer det överskjutande innehållet */
}

.imageWrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    pointer-events: none; 
}

.headerImage {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: auto;
}

.imageHeaderTitleContainer {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

.imageHeaderTitleContainer h1,
.imageHeaderTitleContainer p,
.imageHeaderTitleContainer .courseIsDigital,
.imageHeaderTitleContainer .courseIsBestSeller,
.imageHeaderTitleContainer .courseStarRating,
.imageHeaderTitleContainer .courseReviews,
.imageHeaderTitleContainer .courseLikes,
.imageHeaderTitleContainer .courseHours,
.imageHeaderTitleContainer .courseAuthor {
    color: #c2bdbf;
    margin: 0; 
    position: relative;
}

.imageHeaderTitleContainer h1 {
    top: 100px; 
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: white;
}

.imageHeaderTitleContainer p {
    top: 110px; 
}

.imageHeaderTitleContainer .courseIsBestSeller {
    top: 0; 
    background-color: var(--success);
    display: inline-block;
    border-radius: 5px;
    padding: 0px 7px 2px 7px;
    font-size: 12px;
    color: white;
}

.imageHeaderTitleContainer .courseIsDigital {
    top: 0; 
    left: 5px;
    background-color: var(--gray-200);
    display: inline-block;
    color: var(--gray-800);
    border-radius: 5px;
    padding: 0px 7px 2px 7px;
    font-size: 12px;
}

.imageHeaderTitleContainer .courseStarRating {
    top: 140px; 
}

.imageHeaderTitleContainer .courseReviews {
    top: 117px;
    left: 80px; 
}

.imageHeaderTitleContainer .courseLikes {
    top: 94px; 
    left: 200px;
}

.imageHeaderTitleContainer .courseHours {
    top: 70px; 
    left: 300px;
}

.imageHeaderTitleContainer .courseAuthor {
    top: 250px; 
    color: white;
}

.stars {
    display: inline-block;
    color: gold;
}

.star {
    font-size: 1em;
    margin-right: 2px;
}

.starHalf {
    font-size: 1em;
    margin-right: 2px;
    color: lightgrey;
}
