/* components/CourseList.module.css */
.courseItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .course {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
  }
  
  .course:hover {
    text-decoration: none;
    background-color: #e2e2e2;
  }
  
  .bestSeller {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #28a745;
    color: white;
    padding: 0 10px;
    border-radius: 4px;
  }
  
  .courseImage {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .content {
    padding: 10px;
  }
  
  .courseTitle {
    margin: 10px 0;
    font-weight: 600;
  }
  
  .courseAuthor {
    margin: 5px 0;
  }
  
  .coursePrice {
    display: flex;
    margin: 5px 0;
    color: var(--theme);
    font-weight: 600;
  }
  
  .discountPrice {
    color: #dc3545;
    margin-right: 10px;
  }
  
  .lineThrough {
    text-decoration: line-through;
    color: #737373;
  }
  
  .courseHr {
    margin: 10px 0;
    width: 100%;
  }
  
  .courseFooter {
    display: flex;
    justify-content: space-between;
    color: #737373;
    margin-bottom: 20px;
  }
  
  .courseHours {
    margin-right: 20px;
  }
  
  .courseLikes {
    display: flex;
    align-items: center;
  }
  